@font-face {
  font-family: 'Montserrat';
  font-stretch: 100; /* Note that font-stretch is a % of normal width */
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('otf');
}
/* @link https://utopia.fyi/type/calculator?c=320,20,1.125,1140,22,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
/* @link https://utopia.fyi/space/calculator?c=320,20,1.2,1140,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
	/**************/
	/* Fluid type */
	/**************/
	--step--2: clamp( 0.99rem, 0.95rem + 0.19vw, 1.09rem );
	--step--1: clamp( 1.11rem, 1.07rem + 0.22vw, 1.22rem );
	--step-0: clamp( 1.25rem, 1.2rem + 0.24vw, 1.38rem );
	--step-1: clamp( 1.41rem, 1.35rem + 0.27vw, 1.55rem );
	--step-2: clamp( 1.58rem, 1.52rem + 0.31vw, 1.74rem );
	--step-3: clamp( 1.78rem, 1.71rem + 0.35vw, 1.96rem );
	--step-4: clamp( 2rem, 1.92rem + 0.39vw, 2.2rem );
	--step-5: clamp( 2.25rem, 2.16rem + 0.44vw, 2.48rem );
	/***************/
	/* Fluid space */
	/***************/
	--fluid-min-width: 320;
	--fluid-max-width: 1140;
	--fluid-screen: 100vw;
	--fluid-bp: calc( ( var( --fluid-screen ) - var( --fluid-min-width ) / 16 * 1rem ) / ( var( --fluid-max-width ) - var( --fluid-min-width ) ) );
	--f-0-min: 16.00;
	--f-0-max: 18.00;
	--fc-3xs-min: ( var( --fc-s-min ) * 0.25 );
	--fc-3xs-max: ( var( --fc-s-max ) * 0.25 );
	--fc-2xs-min: ( var( --fc-s-min ) * 0.5 );
	--fc-2xs-max: ( var( --fc-s-max ) * 0.5 );
	--fc-xs-min: ( var( --fc-s-min ) * 0.75 );
	--fc-xs-max: ( var( --fc-s-max ) * 0.75 );
	--fc-s-min: ( var( --f-0-min ) );
	--fc-s-max: ( var( --f-0-max ) );
	--fc-m-min: ( var( --fc-s-min ) * 1.5 );
	--fc-m-max: ( var( --fc-s-max ) * 1.5 );
	--fc-l-min: ( var( --fc-s-min ) * 2 );
	--fc-l-max: ( var( --fc-s-max ) * 2 );
	--fc-xl-min: ( var( --fc-s-min ) * 3 );
	--fc-xl-max: ( var( --fc-s-max ) * 3 );
	--fc-2xl-min: ( var( --fc-s-min ) * 4 );
	--fc-2xl-max: ( var( --fc-s-max ) * 4 );
	--fc-3xl-min: ( var( --fc-s-min ) * 6 );
	--fc-3xl-max: ( var( --fc-s-max ) * 6 );
	/* T-shirt sizes */
	--space-3xs: calc( ( ( var( --fc-3xs-min ) / 16 ) * 1rem ) + ( var( --fc-3xs-max ) - var( --fc-3xs-min ) ) * var( --fluid-bp ) );
	--space-2xs: calc( ( ( var( --fc-2xs-min ) / 16 ) * 1rem ) + ( var( --fc-2xs-max ) - var( --fc-2xs-min ) ) * var( --fluid-bp ) );
	--space-xs: calc( ( ( var( --fc-xs-min ) / 16 ) * 1rem ) + ( var( --fc-xs-max ) - var( --fc-xs-min ) ) * var( --fluid-bp ) );
	--space-s: calc( ( ( var( --fc-s-min ) / 16 ) * 1rem ) + ( var( --fc-s-max ) - var( --fc-s-min ) ) * var( --fluid-bp ) );
	--space-m: calc( ( ( var( --fc-m-min ) / 16 ) * 1rem ) + ( var( --fc-m-max ) - var( --fc-m-min ) ) * var( --fluid-bp ) );
	--space-l: calc( ( ( var( --fc-l-min ) / 16 ) * 1rem ) + ( var( --fc-l-max ) - var( --fc-l-min ) ) * var( --fluid-bp ) );
	--space-xl: calc( ( ( var( --fc-xl-min ) / 16 ) * 1rem ) + ( var( --fc-xl-max ) - var( --fc-xl-min ) ) * var( --fluid-bp ) );
	--space-2xl: calc( ( ( var( --fc-2xl-min ) / 16 ) * 1rem ) + ( var( --fc-2xl-max ) - var( --fc-2xl-min ) ) * var( --fluid-bp ) );
	--space-3xl: calc( ( ( var( --fc-3xl-min ) / 16 ) * 1rem ) + ( var( --fc-3xl-max ) - var( --fc-3xl-min ) ) * var( --fluid-bp ) );
	/* One-up pairs */
	--space-3xs-2xs: calc( ( ( var( --fc-3xs-min ) / 16 ) * 1rem ) + ( var( --fc-2xs-max ) - var( --fc-3xs-min ) ) * var( --fluid-bp ) );
	--space-2xs-xs: calc( ( ( var( --fc-2xs-min ) / 16 ) * 1rem ) + ( var( --fc-xs-max ) - var( --fc-2xs-min ) ) * var( --fluid-bp ) );
	--space-xs-s: calc( ( ( var( --fc-xs-min ) / 16 ) * 1rem ) + ( var( --fc-s-max ) - var( --fc-xs-min ) ) * var( --fluid-bp ) );
	--space-s-m: calc( ( ( var( --fc-s-min ) / 16 ) * 1rem ) + ( var( --fc-m-max ) - var( --fc-s-min ) ) * var( --fluid-bp ) );
	--space-m-l: calc( ( ( var( --fc-m-min ) / 16 ) * 1rem ) + ( var( --fc-l-max ) - var( --fc-m-min ) ) * var( --fluid-bp ) );
	--space-l-xl: calc( ( ( var( --fc-l-min ) / 16 ) * 1rem ) + ( var( --fc-xl-max ) - var( --fc-l-min ) ) * var( --fluid-bp ) );
	--space-xl-2xl: calc( ( ( var( --fc-xl-min ) / 16 ) * 1rem ) + ( var( --fc-2xl-max ) - var( --fc-xl-min ) ) * var( --fluid-bp ) );
	--space-2xl-3xl: calc( ( ( var( --fc-2xl-min ) / 16 ) * 1rem ) + ( var( --fc-3xl-max ) - var( --fc-2xl-min ) ) * var( --fluid-bp ) );
	/* Custom pairs */
	--space-s-l: calc( ( ( var( --fc-s-min ) / 16 ) * 1rem ) + ( var( --fc-l-max ) - var( --fc-s-min ) ) * var( --fluid-bp ) );
	/****************/
	/*              */
	/****************/
	--color-brand-primary: #ffffff;
	--color-brand-secondary: #6FB43F;
	--color-brand-tertiary: greenyellow;
	--color-brand-quaternary: orange;
	--color-dark: #212529;
	--color-darkish: #2b2b2b;
	--color-lightish: #8c8c8c;
	--color-light: #efefef;
	--color-mid: grey;
	--measure: 59ch;
	--border-thinnest: calc( var( --space-3xs ) / 2 );
	--border-thin: var( --space-2xs );
	--border-thick: var( --space-xs );
	color: var( --color-dark );
	
	--font-plain: Montserrat, sans-serif;
	--font-special: Montserrat, sans-serif;
	--font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
	font-family: var( --font-plain );
	background-color: var( --color-brand-primary );
	--ratio: 1.4;
	--line-height: var( --ratio );
	--line-height-small: calc( 0.8 * var( --ratio ) );
	line-height: var( --ratio );
}

@media screen and ( min-width: 1140px ) {
	:root {
		--fluid-screen: calc( var( --fluid-max-width ) * 1px );
	}
}
