---
---
<header class="sidebar">
  <div class="logo">
    <a href="/">
      <img src="/src/assets/img/logo-wrdmrk.png" alt="Colourfully.Digital" />
      <span class="sr-only">Colourfully.Digital</span>
    </a>
  </div>
  <nav class="nav-links cluster">
    <a href="#about">About</a>
    <a href="#Mentors">Mentors</a>
    <a href="#upcoming">Upcoming</a>
    <a href="#faq">FAQ</a>
    <button type="button">Become a member now</button>
  </div>
</header>